/*  */
.banner_wrapper {
    width: 100%;
    height: 720px;
    background: url('../../common/images/main/variant_banner.png') no-repeat;
    background-position: center;
    position: relative;

    padding: 238px 0 0 0px;
    margin-bottom: 150px;
}

.banner_wrapper span {
    display: block;
    position: relative;
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    padding-left: 20px;
    margin-bottom: 35px;
}

.banner_wrapper span::before {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    background: #FFFFFF80;
    top: 3px;
    left: 0;
    border-radius: 100%;
}

.banner_wrapper span.banner_bar {
    display: inline;
    padding: 0 10px;
    margin: 0;
    color: #AEB7C4;
}

.banner_wrapper span.banner_bar::before{
    display: none;
}

.banner_wrapper p {
    font-size: 50px;
    font-weight: 800;
    line-height: 70px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.banner_wrapper .desc {
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
    color: #FFFFFF;
}


/*  */
.exome_spec_wrapper {
    max-width: 960px;
    margin: 0 auto;
    margin-bottom: 150px;
}

.exome_spec_wrapper .title {
    margin-bottom: 50px;
}

.exome_spec_wrapper .title span {
    display: block;
    font-size: 48px;
    font-weight: 800;
    line-height: 60px;
    color: #2B2E33;
    margin-bottom: 30px;
}

.exome_spec_wrapper .title span:last-child {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #2B2E33;
    margin-bottom: 0;
}


/*  */
.variant_case_wrapper {
    max-width: 960px;
    margin: 0 auto;
    margin-bottom: 150px;
}

.variant_case_wrapper .title {
    margin-bottom: 50px;
}

.variant_case_wrapper .title span {
    display: block;
    font-size: 48px;
    font-weight: 800;
    line-height: 60px;
    color: #2B2E33;
    margin-bottom: 30px;
}

.variant_case_wrapper .variant_img {
    margin-bottom: 50px;
}

.variant_case_wrapper .variant_card_wrapper {

}

.variant_card_wrapper ul {
    display: flex;
    justify-content: left;
    align-items: flex-start;
}

.variant_card_wrapper ul li {
    width: 468px;
    min-height: 415px;
    background: #F7F8FA;
    border-radius: 20px;
    padding: 50px 30px;
    margin-right: 24px;
    display: flex;
    flex-direction: column;
}

.variant_card_wrapper ul li:last-child {
    margin: 0;
}

.variant_card_wrapper ul li span {
    display: block;
    font-size: 24px;
    font-weight: bold;
    line-height: 35px;
    color: #2B2E33;
    margin-bottom: 30px;
}

.variant_card_wrapper ul li p {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 15px;
    color: #2B2E33;
    position: relative;
    margin-left: 10px;
}

.variant_card_wrapper ul li p::before {
    content: '·';
    position: absolute;
    left: -10px;
}


/*  */
.service_3billion {
    height: 400px;
    background: #040435;
}

.service_3billion .service_wrapper {
    max-width: 960px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.service_wrapper .service_title {

}

.service_title p {
    font-size: 48px;
    font-weight: bold;
    line-height: 66px;
    color: #FFFFFF;
}

.service_button {
    display: flex;
    justify-content: center;
    align-items: center
}

.service_button a {
    display: block;
    width: 290px;
    height: 60px;
    border-radius: 100px;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: #040435;
}

.service_button a.reverse {
    color: #ffffff;
    background: #040435;
    border: 2px solid #ffffff;
}

.service_button a:first-child {
    margin-right: 10px;
} 



@media (max-width: 480px) {

    .banner_wrapper {
        background: url('../../common/images/main/m_variant_banner.png') no-repeat;
        background-size: 100%;
        margin-bottom: 60px;
        padding: 60px 0 0 20px;
        height: 670px;
        background-size: cover;
    }

    .banner_wrapper span {
        display: none;
    }

    .banner_wrapper p {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .banner_wrapper .desc {
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
    }


    /*  */
    .exome_spec_wrapper {
        padding: 0 20px;
        margin-bottom: 60px;
    }

    .exome_spec_wrapper .title span {
        font-size: 24px;
        line-height: 32px;
    }

    .exome_spec_wrapper .title span:last-child {
        font-size: 16px;
        font-weight: 400;
        line-height: 27px;
    }

    .exome_spec_wrapper .title span:last-child br {
        display: none;
    }

    .exome_spec_wrapper .title {
        margin-bottom: 30px;
    }

    .spec_list_wrapper .list_title {
        margin-bottom: 30px;
    }

    .spec_list_wrapper .list_title span {
        font-size: 22px;
        font-weight: 600;
    }

    .spec_list_wrapper ul {
        padding: 30px 20px;
        margin-bottom: 13px;
    }

    .spec_list_wrapper ul li {
        font-size: 16px;
        font-weight: 400;
    }

    .list_desc span:first-child {
        width: 42px;
        flex-shrink: 0;
        margin-right: 21px;
    }



    /*  */
    .variant_case_wrapper {
        padding: 0 20px;
        margin-bottom: 60px;
    }

    .variant_case_wrapper .title {
        margin-bottom: 30px;
    }

    .variant_case_wrapper .title span {
        font-size: 24px;
        line-height: 32px;
    }

    .variant_case_wrapper .variant_img img {
        width: 100%;
        content: url('../../common/images/main/variant_img_m.png');
    }

    .variant_card_wrapper ul {
        flex-direction: column;
    }

    .variant_card_wrapper ul li {
        width: 100%;
        min-height: 280px;
        padding: 30px 25px;
        margin: 0;
        margin-bottom: 10px;
    }

    .variant_card_wrapper ul li span {
        font-size: 22px;
        line-height: 30px;
    }

    .variant_card_wrapper ul li span br {
        display: none;
    }

    .variant_card_wrapper ul li p {
        font-size: 16px;
        line-height: 25px;
    }

    .variant_card_wrapper ul li p br {
        display: none;
    }



    /*  */
    .service_3billion {
        height: 290px;
        padding: 60px 0;
    }

    .service_3billion .service_wrapper {
        flex-direction: column;
    }

    .service_title p {
        font-size: 24px;
        line-height: 32px;
    }


    .service_button a {
        height: 48px;
        font-size: 16px;
        line-height: 24px;
        font-weight: bold;
    }

}